<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>O aplikacj</div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="d-block m-1">
  <mat-card-content  fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column">
    <div>
      <h1 class="mat-display-1">PK Hall Reservation</h1>
      <p>Aplikacja jest przedmiotem pracy inżynierkiej</p>
      <p>W pełni zaprojektowana i zaimplementowana przez Konrada Dziurdź</p>
      <p>Bugi, uwagi kierować na <b>konrad.dziurdz@gmail.com</b></p>
    </div>
    <div>
      <img align="center" src="http://new.elf2.pk.edu.pl/pluginfile.php/21/mod_label/intro/znak_niebieski.png"  style="max-width: 300px;">
    </div>
  </mat-card-content>
</mat-card>
