<form [formGroup]="searchFormGroup" novalidate (ngSubmit)="submit()">
  <mat-card class="m-1 d-block">
    <mat-card-content fxLayout="column">

      <div fxLayout="row" fxLayout.lt-sm="column">
        <mat-form-field ngClass.gt-xs="mr-2">
          <input matInput formControlName="dateFrom" #dateFrom [min]="todayDate" [max]="searchFormGroup.get('dateTo').value"
                 [matDatepicker]="dateFrom" placeholder="Data od">
          <mat-datepicker-toggle matSuffix  [for]="dateFrom"></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="dateTo" [min]="searchFormGroup.get('dateFrom').value || todayDate" [matDatepicker]="dateTo" placeholder="Data do">
          <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayout="column" fxLayoutAlign="center start">
        <mat-slide-toggle [formControl]="allHalls" labelPosition="before" class="mr-2">Wszystkie sale</mat-slide-toggle>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field>
            <input type="text" placeholder="Sala" matInput [formControl]="hallSearchQuery" [matAutocomplete]="auto">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="hallSelected($event); hallSearchQuery.reset()"
                            [displayWith]="hallSearchDisplayTransform">
            <mat-option *ngFor="let hall of querriedHalls | async" [value]="hall">
              {{ hall.name }}
            </mat-option>
          </mat-autocomplete>

          <div formArrayName="hallIds">
            <mat-chip-list>
              <mat-chip *ngFor="let hall of searchFormGroup.get('hallIds').controls" color="accent"
                        [removable]="!allHalls.value" (remove)="removeHallFromArray(hall)" [disabled]="allHalls.value"
                        [selectable]="!allHalls.value" [ngClass]="{'disabled-chips': allHalls.value}">
                {{hall.value.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <mat-select placeholder="Ilość godzin lekcyjnych" formControlName="duration" name="duration">
            <mat-option *ngFor="let duration of availableDuration" [value]="duration">
              {{duration}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-actions class="hr-w-100" fxLayout="row" fxLayoutAlign="end center">
        <button class="mat-raised-button mat-primary" color="primary"
                type="submit" [disabled]="searchFormGroup.invalid" role="button">Szukaj
        </button>

      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
