<h1 class="mat-dialog-title">Wybierz role użytkownika</h1>
<mat-divider></mat-divider>
<div class="mat-dialog-content">
  <p>Dostępne role</p>
  <mat-chip-list>
    <mat-chip *ngFor="let role of possibleRoles">
      {{role}}
    </mat-chip>
  </mat-chip-list>
</div>
<mat-divider></mat-divider>
<p>Wybrane role</p>
<mat-chip-list>
  <mat-chip class="mat-primary" *ngFor="let role of newRoles.controls" [removable]="true"
            (remove)="removeRole(role)">
    {{role.value}}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center" class="mt-1">
  <button class="mat-raised-button"
          type="button" role="button" (click)="dismiss()">Anuluj
  </button>
  <button class="mat-raised-button mat-primary"
          type="button" role="button" (click)="submit()"
          [disabled]="newRoles.invalid">OK
  </button>
</div>
