<hr-manage-reservations-search-form
  (onSearchParamsChanged)="onSearchParamsChanged($event)"></hr-manage-reservations-search-form>

<mat-card class="m-1 d-block" *ngIf="page && page.content.length > 0">
  <mat-card-content fxLayout="column">
    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lessonNumbers">
        <mat-header-cell *matHeaderCellDef>Numery lekcji</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lessonNumbers}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef>Zarezerwował</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.user.firstName + ' ' + element.user.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="hall">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="60px"> Sala</mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="60px">{{element.hall.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="60px"></mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="60px">
          <button mat-icon-button class="mat-icon-button" [matMenuTriggerFor]="manageReservationsActionsMenu"
                  *ngIf="!isBeforeToday(element.date)">
            <mat-icon>more_vert</mat-icon>
            <mat-menu #manageReservationsActionsMenu="matMenu">
              <button mat-menu-item *ngIf="!element.cancelled && !isBeforeToday(element.date)"
                      (click)="cancel(element)">Odwołaj</button>
              <button mat-menu-item *ngIf="element.cancelled" (click)="info(element)">Info</button>
            </mat-menu>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="page.size"
                   [length]="page.totalElements"
                   [pageIndex]="page.number"
                   (page)="onPageChange($event)"
                   [pageSizeOptions]="[10, 20, 30]">
    </mat-paginator>
  </mat-card-content>
</mat-card>

<mat-card class="m-1 d-block" *ngIf="page && page.content.length == 0;">
  <mat-card-content>Brak dopasowań. Zmień kryteria wyszukiwania</mat-card-content>
</mat-card>
