<h1 class="mat-dialog-title">Usuń okres zajęć</h1>
<mat-divider></mat-divider>
<div class="mat-dialog-content">
  <p>Usunąć okres zajęć</p>
  <p><b>Od: </b>{{dateFrom}}</p>
  <p><b>Do: </b>{{dateTo}}</p>
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-around center" class="mt-1">
  <button class="mat-raised-button"
          type="button" role="button" (click)="dismiss()">Anuluj
  </button>
  <button class="mat-raised-button mat-primary"
          type="button" role="button" (click)="submit()">OK
  </button>
</div>
