<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>Moje rezerwacje</div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="d-block m-1">
  <mat-card-content>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         routerLink="future"
         routerLinkActive #future="routerLinkActive"
         [active]="future.isActive">
        Przyszłe
      </a>
      <a mat-tab-link
         routerLink="search"
         routerLinkActive #search="routerLinkActive"
         [active]="search.isActive">
        Szukaj
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-card-content>

</mat-card>
