<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>Moje rezerwacje</div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="d-block m-1">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Przyszłe"><hr-reservation-list></hr-reservation-list></mat-tab>
      <mat-tab label="Dokonane"><hr-reservation-list></hr-reservation-list></mat-tab>
      <mat-tab label="Anulowane"><hr-reservation-list></hr-reservation-list></mat-tab>
    </mat-tab-group>
  </mat-card-content>

</mat-card>
