<mat-toolbar color="primary" class="mat-elevation-z6 main-toolbar">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button class="mat-icon-button" fxShow fxHide.lt-sm="false" fxHide.gt-sm="true"
              (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <div>PK Hall Reservation</div>
    </div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item *ngIf="isLogged">Moje konto</button>
      <button mat-menu-item [routerLink]="['about']" >O Aplikacji</button>
      <button mat-menu-item (click)="logout()" *ngIf="isLogged">Wyloguj</button>
      <button mat-menu-item (click)="logout()" *ngIf="!isLogged">Zaloguj</button>
    </mat-menu>
    <button mat-icon-button class="mat-icon-button" [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
